@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,900;1,900&display=swap');

:root{
    --fundo: #28262C;
    --titulo: #004FFF;
    --bordas: #F5F749;
}

body{
    margin: 0;
    padding: 0;
    background: var(--fundo);
}

header{
    margin: 10px auto;
    color: white;
    text-align: center;
    max-width: 500px;
}

#titulo{
    color: var(--titulo);
    font: bolder 52px 'Playfair Display SC';
    margin: 0;
}