@charset "UTF-8";

@font-face {
    font-family: 'Courgette';
    src: url(fontes-midia/Courgette-Regular.ttf);
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: #000000;
    --cor1: #FFFFFF;
    --cor2: #374FFA;
    --cor3: #3174DE;
    --cor4: #43B7F5;
    --cor5: #31CFDE;
    --cor6: #37FAD5;
    --cor7: #FF6600;
    --cor00: #0d0d0d96;
}

body{
    font-size: 18px;
}

header{
    box-shadow: 0 0 5px var(--cor00);
    background-image: linear-gradient(to right, var(--cor3), var(--cor4), var(--cor5));
}

header h1{
    font: normal 3.8em 'Courgette';
    color: var(--cor7);
    text-align: center;
    padding: 20px 0 5px 0;
}

header p{
    font: normal 1em 'Courgette';
    color: var(--cor7);
    text-align: center;
    padding: 10px 0;
}

nav{
    padding: 8px;
}

a.menu{
    color: var(--cor7);
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
}

a.menu:hover{
    color: var(--cor1);
    background-color: var(--cor7);
    transition-duration: 0.8s;
}